<div class="footer block">
  <div class="row">
    <div class="col-sm-3">
      <h5>  <img class="logo" src="assets/img/logo.png"> Movie Machine</h5>

      <p>
        Movie Library is a database application designed for movie collectors and movie fans. </p>

      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter-square"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="col-sm-6">
      <a href="#">Instagram</a>
      <div class="insta">
        <img src="https://picsum.photos/id/100/100/100" alt="">
        <img src="https://picsum.photos/id/200/100/100" alt="">
        <img src="https://picsum.photos/id/300/100/100" alt="">
        <img src="https://picsum.photos/id/400/100/100" alt="">
        <img src="https://picsum.photos/id/500/100/100" alt="">
        <img src="https://picsum.photos/id/600/100/100" alt="">
        <img src="https://picsum.photos/id/700/100/100" alt="">
        <img src="https://picsum.photos/id/800/100/100" alt="">
        <img src="https://picsum.photos/id/900/100/100" alt="">
        <img src="https://picsum.photos/id/1000/100/100" alt="">
      </div>


    </div>
    <div class="col-sm-3" style="padding-bottom: 3px;padding-top: 19px;">
      Get In Touch <br>
      <i class="fas fa-phone-square"></i> Phone:
      <p>(123)456 789</p>
      <i class="fas fa-envelope-square"></i> Email:
      <p><a href="mailto:info@moviemachine.com">info@moviemachine.com</a></p>
      <i class="far fa-map-marker-alt"></i> Address:
     <p> 123 Street dr, NC, USA</p>
    </div>
  </div>
</div>
