.footer {

  color: whitesmoke;
}
.footer .row{
  background-color: #343a40;

}
.footer .col-sm-3{
  padding: 35px;
}
.footer i {
  margin: 5px;
  color: white;
}
.footer p , a {
  color: #7f7f7f;
}
.footer .insta img {
  margin: 1px;
}
