/* You can add global styles to this file, and also import other style files */

.block{
  height: 250px;
}
.header {
  background-color: red;
}


.logo {
  max-width: 28px;
}

.home{
  background-color: rgb(56, 12, 136);
}

.results-list {
  background-color: rgb(190, 141, 6);
}

.results-card {
  background-color: rgb(29, 161, 58);
}
